.contain-to-grid {
    background: transparent;
}
.top-bar.expanded {
    background: #555;
}
.top-bar .toggle-topbar {
    left: 0;
    right: initial;
}
.top-bar-section>ul {
    margin-top: 2.8125rem;
    background-color: #555;
}
.top-bar-section ul li>a {
    color: #fff;
    background-color: #555;
    display: block;
    font-family: Philosopher,'Open Sans',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 1em;
    padding: 0 0.9375rem;
}
.top-bar .toggle-topbar,
.top-bar .toggle-topbar.menu-icon {
    margin-top: 0;
    z-index: 100;
    background-color: #555;
    width: 100%;
}
.top-bar .toggle-topbar a,
.top-bar .toggle-topbar.menu-icon a {
    color: #fff;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.top-bar .toggle-topbar a span:before,
.top-bar .toggle-topbar.menu-icon a span:before {
    content: '\f0c9';
    font-family: FontAwesome;    
    font-size: 2em;
    font-weight: 400;
    padding: 0 10px 0 0;
    vertical-align: middle;
}
.top-bar-section .dropdown li a {
    padding: 0 0.9375rem;
}
.column, .columns {
    padding: 0;
}

ul.pagination li {
    font-size: 1rem;
}
ul.pagination li a {
    font-family: FontAwesome, Philosopher, sans-serif;
    padding: 0.625em 1em;
}

.breadcrumbs {
    border: none;
}
.breadcrumbs>* {
    color: #555;
}

#topmenu {
    display: none;
}
.left-small,
.tab-bar .menu-icon {
    width: 100%;
}

.row .row,
form .row .row {
    margin: 0;
}

.row-with-sidebar .cell {
    min-width: 340px !important;
}

@media only screen and (max-width: 50em) {
    #contacts {
        margin: 0;
    }
    #contacts .medium-6 {
        width: 100%;
        padding: 0;
    }
    #name.medium-6 {
        padding: 0;
    }
    #email.medium-6 {
        padding: 0;
    }
}

@media only screen and (min-width: 56.25em) {
  nav.top-bar {
    text-align:center;
  }
  section.top-bar-section {
    display: inline-block;
  }
  nav.left-off-canvas-menu,
  nav.tab-bar {
      display: none;
  } 
  #topmenu {
        display: block;
    }
}
@media only screen and (min-width: 64.063em) {
    #name.medium-6 {
        padding-right: 0;
    }
    #email.medium-6 {
        padding-left: 0;
    }
}