//Aside
#aside {
    width: 100%;
    padding-top: 10px;
}

#aside-sidebar {
    text-decoration: none;
}

#aside-sidebar > li {
    margin-bottom: 20px;
}

#aside-sidebar ul.children {
    margin-left: 20px;
}

#aside-sidebar li a {
/*	color: #ED008C;*/
	text-decoration: none;
}

#wrap ul.sidebar ul {
    list-style-type: none;
    margin-left: 0;
}
